<div id="comments" style="margin-top: 2rem;">
<script src="https://giscus.app/client.js"
        data-repo="sel0zero/selimyalcin.github.io"
        data-repo-id="R_kgDOQYg4Hg"
        data-category="General"
        data-category-id="DIC_kwDOQYg4Hs4Cx81X"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="tr"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
</div>
